
<div>
  <h4>{{title}}</h4>
  <img width="150px" src={{image}} alt={{title}}/>
  <p>Sinopsis: {{description}} Released in {{year}}.</p>
  <a href="/shows/delete/{{_id}}">Delete</a>
  <a href="/shows/edit/{{_id}}">Edit show</a>

  {{!-- <form method="POST" action="/shows/delete/{{_id}}">
    <button type="submit">Delete</button>
  </form>   Then the route should be router.post --}}

</div>