
<div>
  <h4>{{show.title}}</h4>
  <img width="150px" src={{show.image}} alt={{show.title}}/>
  <p>Sinopsis: {{show.description}} Released in {{show.year}}.</p>
  <a href="/shows/delete/{{show._id}}">Delete</a>
  <a href="/shows/edit/{{show._id}}">Edit show</a>

  {{!-- <form method="POST" action="/shows/delete/{{_id}}">
    <button type="submit">Delete</button>
  </form>   Then the route should be router.post --}}

  {{#if show.seasons}}
    {{#each show.seasons}}
      <div class="season">
        <h3>Season: {{number}}. {{this.title}}</h3>
        <p>Released on {{this.releaseYear}}. Number of episodes: {{this.numberOfEpisodes}}</p>
      </div>
    {{/each}}
  {{/if}}

  {{#if reviews}}
    {{#each reviews}}
      <p><strong>{{this.username}}</strong>: {{this.comment}}. Stars: {{this.stars}}/5</p>
    {{/each}}
  {{/if}}

  <form method="POST" action="/seasons/new/{{show._id}}">
    <label>Season number:</label>
    <input type="number" placeholder="1" name="number"/>
    <label>Release year:</label>
    <input type="number" placeholder="2010" name="releaseYear"/>
    <label>Number of episodes:</label>
    <input type="number" placeholder="22" name="numberOfEpisodes"/>
    <label>Title of the season:</label>
    <input type="text" placeholder="First season" name="title"/>
    <button type="submit">Save season</button>
  </form>

  <form method="POST" action="/reviews/new/{{show._id}}">
    <label>How would you rate this show?</label>
    <input type="number" placeholder="5" name="stars"/>
    <label>Comment:</label>
    <input type="text" placeholder="I really liked this show" name="comment"/>
    <label>User's name:</label>
    <input type="text" placeholder="John Doe" name="username"/>
    <button type="submit">Add review</button>
  </form>


</div>